<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <link rel="icon" href="/media/icons/camera.png">
    {% include 'includes.html' %}
</head>
<body class="bg-dark">

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-6 offset-4">
                <img src="/media/icons/camera.png" width="400em" height="400em" alt="Error Image">
            </div>
            <div class="col-2 offset-3">
                <div class="text-white text-center">Oops! We can't find the page you are looking for...</div>
            </div>
            <div class="col-6 offset-5 mt-3">
                <a href="/" class="btn btn-radius btn-focus btn-success text-dark">
                    <i class="fa fa-chevron-circle-left mr-2"></i>Back to homepage
                </a>
            </div>
        </div>
    </div>
</body>
</html>