<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/gallery/home/"><i>CSM Gallery</i>
            <img src="/media/icons/camera.png" alt="Wand" id="wand">
        </a>
        <button class="navbar-toggler bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav navbar-nav-scroll ml-auto" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active text-white hover-animation" aria-current="page" href="/gallery/home/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white hover-animation" aria-current="page" href="/gallery/login/">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white hover-animation" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white hover-animation" href="/gallery/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>