<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href=" {% url 'user_home' %} "><i>Wand Image Gallery</i>
            <img src="/media/icons/magic-wand.png" alt="Wand" id="wand">
        </a>
        <button class="navbar-toggler bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav navbar-nav-scroll ml-auto" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active text-white hover-animation" aria-current="page" href=" {% url 'user_home' %} ">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white hover-animation" aria-current="page" href=" {% url 'profile' %} ">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white hover-animation" aria-current="page" href=" {% url 'upload_image' %} ">Upload Image</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white hover-animation" href=" {% url 'logout' %} ">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="alert alert-warning alert-dismissible fade show mt-5" id="welcome_heading" role="alert">
    <strong>Welcome {{user.username}}</strong>, It's a pleasure to connect with you today. How can we assist you?
    <button type="button" class="btn-close" disabled data-bs-dismiss="alert" aria-label="Close"></button>
</div>