<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private Images</title>
    {% include "includes.html" %}
</head>
<body>
    {% include "user/navbar.html" %}

    <h1 class="text-center text-muted">Private Images</h1>
    <div class="container">
        <div class="card border-black">
            <div class="card-body">
                <div class="row">
                    {% for image in objects %}
                        <div class="col-12 col-sm-6">
                            <div class="card mt-4 mb-3">
                                <div>
                                    <img src="{{ image.image.url }}" class="card-img-top" alt="Image">
                                </div>
                            </div>                          
                        </div>
                    {% endfor %}
                </div> 
            </div>
            {% include "user/private_pagination.html" %}
        </div>
    </div>

    {% include 'footer.html' %} 
</body>
</html>