<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    {% include "includes.html" %}
    <script>
        function usernameVisibility() {
            var user = document.getElementById("user");
            var flag = document.getElementById("username_visible").checked;
        
            if (flag) {
                user.type = "text";
            } else {
                user.type = "password";
            }
        }  

        function form_validation(event) {
            event.preventDefault();

            var imageInput = document.getElementById("image");
            var captionInput = document.getElementById("caption");

            if (!imageInput.value.trim() && !captionInput.value.trim()) {
                swal("Error", "Please upload an image and enter a caption.", "error");
            } 
            else if (!imageInput.value.trim()) {
                swal("Error", "Please upload an image.", "error");
            } 
            else if (!captionInput.value.trim()) {
                swal("Error", "Please enter a caption.", "error");
            } 
            else {
                event.currentTarget.form.submit();
            }
        }

    </script>
</head>
<body>
    {% if change %}
        <script>
            swal("Success", "Image Uploaded", "success");
        </script>
    {% endif %}

    {% if fail %}
        <script>
            swal("Error", "Please Upload a valid image", "error");
        </script>
    {% endif %}

    {% include "user/navbar.html" %}
    <h1 class="text-center">Upload Image</h1>
    <p class="text-center">Summer Collection New Modern Image's</p>

    <form method="post" action="{% url 'validate_upload_image' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-12 offset-xl-2">
                    <div class="card">
                        <div class="card-body border-black">
                            <div class="mb-3">
                                <label for="image" class="form-label"><img src="/media/register_icons/upload.png" style="height: 25px; width: 25px;"> Image</label>
                                <input type="file" class="form-control" id="image" name="image"> 
                            </div>
                            <div class="mb-3">
                                <label for="user" class="form-label"><img src="/media/register_icons/username.png" style="height: 25px; width: 25px;"> User</label>
                                <input type="password" class="form-control" id="user" value="{{user.username}}" readonly name="user">
                            </div>
                            <div class="mb-3">
                                <label for="caption" class="form-label"><img src="/media/register_icons/caption.png" style="height: 25px; width: 25px;"> Caption</label>
                                <input type="text" class="form-control" id="caption" name="caption">
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="visible" name="visible">
                                <label class="form-check-label" for="visible">Public Visibility</label>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" onclick="usernameVisibility()" class="form-check-input" id="username_visible" name="username_visible">
                                <label class="form-check-label" for="username_visible">Username Visibility</label>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" onclick="usernameVisibility()" class="form-check-input" id="private" name="private">
                                <label class="form-check-label" for="private">Make Image Private</label>
                            </div>
                            <button type="submit" onclick="form_validation(event)" class="btn btn-primary">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <hr>
    {% include 'footer.html' %} 
</body>
</html>