<script>

    function image_like(imageId) {
        var url = `/gallery/image_like/${imageId}`;
        window.location.href = url;
    }

</script>
<div class="col-12 col-sm-6">
    <div class="card mt-4 mb-3">
        <div>
            <img src="{{ image.image.url }}" ondblclick="image_like('{{image.id}}')" class="card-img-top" alt="Image">
        </div>
        <div class="card-body">
            {% if image.id in user_likes %}
                <a href="/gallery/remove_like/{{ image.id }}"><img src="/media/background_images/full_heart.png" style="height: 20px; width: 20px; margin-right: 5px;"></a>
            {% else %}
                <a href="/gallery/image_like/{{ image.id }}"><img src="/media/background_images/empty_heart.png" style="height: 20px; width: 20px; margin-right: 5px;"></a>
            {% endif %}
            <a href="#"><img src="/media/background_images/comment.png" style="height: 20px; width: 20px; margin-right: 5px;"></a>
            <a href="#"><img src="/media/background_images/share.png" style="height: 20px; width: 20px; margin-right: 5px;"></a>

            <div class="mt-1" id="likesText{{image.id}}">
                {{ image.total_likes }} likes
            </div>
            <div class="mb-1">
                <b>{{ image.username }}</b> {{image.caption}}
            </div>
            <div class="text-muted">
                {{ image.total_comments }} Comments
            </div>

            <form action="{% url 'add_comment' image.id %}" method="post">

                {% csrf_token %}

                <div class="input-group mt-2">
                    <input type="text" class="form-control" id="comment{{image.id}}" required name="comment{{image.id}}" placeholder="Add a comment...">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="submit" style="z-index: 0;">
                            Post
                        </button>
                    </div>
                </div>
            
            </form>
        </div>
    </div>                          
</div>
